<%- include("../partials/header") %>

<div class="ui container segment raised formDiv" id="edit-campground"> 
    <form class="ui form" action="/campgrounds/<%= Campground._id%>?_method=PUT" method="POST">
        <h1 class="ui header">Edit</h1> 
        <div class="field">
            <div><label>Title</label></div>
            <input type="text" class="input" name="name" placeholder="Name" value="<%= Campground.name %>">
        </div>
        <div class="field">
            <div><label>Image</label></div>
            <input type="text" class="input" name="image" placeholder="Image URL" value="<%= Campground.image %>" >
        </div>
        <div class="field">
            <div><label>Content</label></div>
            <textarea name="description"  class="input" cols="30" rows="10" placeholder="Decription goes here...">
                <%= Campground.description %>
            </textarea>
        </div>
        <div><button class="ui fluid blue button ">Update</button></div>
    </form>

</div>

<%- include("../partials/footer") %>